// === FOOTER ===
.section-footer {
    background: $bg-color-dark;

    .wrapper-inner {
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            flex-direction: column;
            align-items: center;
        }
    }

    img {
        display: block;
        margin-top: 40px;
    }
}

.info-wrapper {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    height: 290px;
}

.contacts-wrapper {
    margin-bottom: $base * 15;
}

path {
    fill: $color-primary;
    transition: $transition;
}

.footer-title {
    @include h3;
    color: $color-light-xl;
    width: $base * 70;
    height: $base * 22;
    margin-top: $base * 14;
    margin-bottom: $base * 10;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin-top: 32px;
    }
}

.footer-details {
    display: flex;
    margin-top: $base * 10;
    height: $base * 8;

}

.footer-text {
    @include h4;
    text-decoration: none;
    margin-left: $base * 5;
    width: $base * 65;

    a {
        color: $color-primary;
    }
}


.footer-puppy {
    display: flex;
    margin-left: $base * 40;
    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin-left: 0;

    }

}