@font-face {
  font-family: "ArialRegular";
  src: url("../../assets/fonts/ArialRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "ArialBold";
  src: url("../../assets/fonts/ArialBold.ttg") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "ArialItalic";
  src: url("../../assets/fonts/ArialItalic.ttg") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaRegular";
  src: url("../../assets/fonts/GeorgiaRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GeorgiaBold";
  src: url("../../assets/fonts/GeorgiaBold.ttg") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "GeorgiaItalic";
  src: url("../../assets/fonts/GeorgiaItalic.ttg") format("truetype");
  font-style: italic;
  font-weight: 400;
}

.section-footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.section-footer .wrapper-inner {
  padding-top: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .section-footer .wrapper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .section-footer .wrapper-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 42px 0 0 0;
  }
}

.section-footer img {
  display: block;
  margin-top: 40px;
}

.info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 290px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .info-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contacts-wrapper {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .contacts-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    margin: 0 auto;
  }
}

path {
  fill: #F1CDB3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer-title {
  font-family: 'GeorgiaRegular', serif;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  width: 280px;
  height: 88px;
  margin-top: 56px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .footer-title {
    margin-top: 32px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer-title {
    font-family: 'GeorgiaRegular', serif;
    font-size: 25px;
    line-height: 115%;
    letter-spacing: 0.03em;
    margin: 0 0 40px 0;
    text-align: center;
    width: 250px;
  }
}

.footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  height: 32px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer-details {
    margin: 0 0 40px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-text {
  font-family: 'GeorgiaRegular', serif;
  font-size: 22px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-left: 20px;
  width: 260px;
}

.footer-text a {
  color: #F1CDB3;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer-text {
    width: auto;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .locations-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
    margin: 0 auto;
  }
  .locations-wrapper .location {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
}

.footer-puppy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 160px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .footer-puppy {
    margin-left: 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .footer-puppy {
    margin-left: 0;
    margin-top: 220px;
  }
  .footer-puppy img {
    width: 260px;
  }
}

body {
  font-family: 'ArialRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.wrapper-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .wrapper-inner {
    max-width: 708px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .wrapper-inner {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

a {
  text-decoration: none;
}

.section-introduction {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background: #FFFFFF;
}

.section-introduction .wrapper-inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  header {
    width: 257px;
  }
}

.logo {
  cursor: pointer;
}

.title {
  font-family: 'GeorgiaRegular', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0 0 10px 0;
}

.subtitle {
  font-family: 'ArialRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #000000;
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-wrapper__item + .nav-wrapper__item {
  margin-left: 36px;
}

.nav-wrapper__item-link {
  font-family: 'ArialRegular', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  text-decoration: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-wrapper__item-link--active {
  font-family: 'ArialRegular', sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
}

.nav-wrapper__item-link:hover {
  cursor: pointer;
  color: #000000;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .nav-wrapper {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.border-active {
  width: 56px;
  height: 4px;
  background-color: #F1CDB3;
}

.section-slider {
  background: #F6F6F6;
}

.section-slider .wrapper-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 90px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .section-slider .wrapper-inner {
    padding-bottom: 65px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .section-slider .wrapper-inner {
    padding: 42px 0;
  }
}

.middle-title {
  font-family: 'GeorgiaRegular', serif;
  font-size: 40px;
  line-height: 115%;
  letter-spacing: 0.01em;
  color: #545454;
  margin-bottom: 60px;
  margin-left: 40px;
  text-align: center;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .middle-title {
    margin-bottom: 30px;
    margin-left: 0;
    font-size: 35px;
    letter-spacing: 0.09em;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .middle-title {
    width: 257px;
    font-family: 'GeorgiaRegular', serif;
    font-size: 25px;
    line-height: 115%;
    letter-spacing: 0.03em;
    margin: 0 auto;
  }
}

.button-secondary {
  font-family: 'GeorgiaRegular';
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 15px 45px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 52px;
  border-radius: 100px;
  border: none;
  border: 2px solid #F1CDB3;
  color: #000000;
  background-color: #FFFFFF;
}

.button-secondary:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  width: 1200px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .slider-wrapper {
    width: 708px;
    margin: 0 auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .slider-wrapper {
    margin: 42px 0 12px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 300px;
  }
}

.pet-wrapper {
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.pet-wrapper:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  background-color: #CDCDCD;
}

.pet-wrapper:hover .button-secondary {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pet-wrapper__item + .pet-wrapper__item {
  margin-left: 40px;
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .pet-wrapper__item + .pet-wrapper__item {
    margin-left: 0;
  }
}

.pet-wrapper__item:nth-child(5n) {
  margin-left: 0;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .pet-wrapper__item:nth-child(3) {
    margin-left: 0;
  }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .invisible-middle-screen {
    display: none;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .invisible-small-screen {
    display: none;
  }
}

.pet-name {
  font-family: 'GeorgiaRegular', serif;
  font-size: 22px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
  padding: 30px 0;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .pagination-list {
    padding-left: 0;
    margin: 10px 0;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .pagination-list {
    margin: 0 auto;
    gap: 10px;
    padding-left: 0;
  }
}

.pagination-list__item {
  font-family: 'GeorgiaRegular', serif;
  font-size: 22px;
  line-height: 115%;
  letter-spacing: 0.06em;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.disabled-pagination {
  border: 2px solid #CDCDCD;
}

.disabled-pagination path {
  fill: #CDCDCD;
}

.center-pagination {
  background-color: #F1CDB3;
  border-color: #F1CDB3;
}

.enabled-pagination path {
  fill: #000000;
}

.enabled-pagination:hover {
  cursor: pointer;
  background-color: #F1CDB3;
}
/*# sourceMappingURL=pets.css.map */