@import '../../abstarcts/mixins';
@import '../../abstarcts/variables';
@import '../../base/fonts';
@import '../../base/reset';
@import '../../base/textstyles';
@import '../../components/buttons';
@import '../../layout/footer';
@import '../../layout/header';

//COMMON STYLES
body {
    font-family: 'ArialRegular', sans-serif;
    @include text-regular;

}

.wrapper-outer {}

.wrapper-inner {
    max-width: 1200px;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        max-width: 708px;
        flex-direction: column;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        max-width: 300px;
        flex-direction: column;
    }

    margin: 0 auto;
    padding-top: $padding-vertical-top;
    padding-bottom: $padding-vertical-bottom;
}

a {
    text-decoration: none;
}

// === 1 - START SCREEN ===
.section-introduction {
    position: sticky;
    top: 0px;

    background: $color-light-xl;

    .wrapper-inner {
        padding: $base * 7.5 0;

        display: flex;
        flex-direction: column;

    }

    // --  Right menu --
    &::before {
        position: fixed;
        top: 0;
        bottom: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        content: "";
        background-color: rgba(41, 41, 41, 0.6);
    }

    &--active-nav {

        &::before {
            display: block;
        }

        .right-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            background-color: $color-dark-light-3xl;

            transform: translateX(0%);
            right: 0;
            top: 0;
            padding-top: 30px;

            height: 4000px;

            .nav-wrapper__item+.nav-wrapper__item {
                margin: 40px 0 0 0;
            }

            .nav-wrapper__item-link--active {
                @include paragraph-l;
                color: $color-light-s;
            }

            .nav-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 158px;


                &__item-link {
                    @include paragraph-mobile-menu;
                }
            }

        }

        .header-burger-right-menu {
            display: flex;
            width: 260px;
            justify-content: space-between;
            align-items: center;
        }

        .header-burger {

            .burger {
                display: none;
            }
        }

        .border-active {
            width: 243px;
        }

        .burger {
            transform: rotate(90deg);
        }

        .title {
            color: $color-primary;
        }

        .subtitle {
            color: $color-light-xl;
        }

        .border-active {
            width: 123px;
        }

    }
}

.right-menu {
    display: none;
    position: fixed;
    transform: translateX(200%);
    transition: 1s;
    height: 100vh;
    width: 320px;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: flex;
    }
}

// -- / Right menu --

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 257px;
    }

}

.header-burger {
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.title {
    @include logo-title;
    color: $color-dark-l;
    margin: 0 0 10px 0;
}

.subtitle {
    @include logo-subtitle;
    color: $color-dark-3xl;
}

.nav-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        &+& {
            margin-left: $base * 9;
        }

        &-link {
            @include paragraph-l;
            color: $color-dark-l;
            text-decoration: none;
            transition: $transition;

            &--active {
                @include paragraph-l;
                color: $color-dark-3xl;
            }

            &:hover {
                cursor: pointer;
                color: $color-dark-3xl;
            }
        }
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: none;
    }
}

.burger {
    @media screen and (min-width: $middle-screen-min) {
        display: none;
    }

}

.border-active {
    width: $base * 14;
    height: $base;
    background-color: $color-primary;
}


// === 2 - SLIDER ===
.section-slider {
    background: $color-light-l;

    .wrapper-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 90px;

        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            padding-bottom: 65px
        }

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            padding: 42px 0;
        }
    }


}

.middle-title {
    @include h3;
    color: $color-dark-l;
    margin-bottom: $base * 15;
    margin-left: $base * 10;
    text-align: center;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin-bottom: 30px;
        margin-left: 0;
        font-size: 35px;
        letter-spacing: 0.09em;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 257px;
        @include h3-mobile;
        margin: 0 auto;
    }
}

.button-secondary {
    @include button-secondary;
    @include button-secondary-hover;
}

.slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: $base * 10;
    width: 1200px;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        width: 708px;

        margin: 0 auto;
        justify-content: center;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin: 42px 0 12px 0;
        flex-direction: column;
        justify-content: center;
        width: 300px;
    }
}

.pet-wrapper {
    width: $base *67.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;

    border-radius: 9px;
    overflow: hidden;

    padding-bottom: $base * 7.5;
    margin-bottom: $base * 7.5;


    &:hover {
        transition: $transition;
        cursor: pointer;
        background-color: $color-dark-s;

        .button-secondary {
            background-color: $color-primary-light;
            border-color: $color-primary-light;
            transition: $transition;
        }
    }

    &__item {
        &+& {
            margin-left: $base * 10;

            @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
                margin-left: 0;
            }
        }

        &:nth-child(5n) {
            margin-left: 0;
        }

        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            &:nth-child(3) {
                margin-left: 0;
            }

        }
    }
}

.invisible-middle-screen {
    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        display: none;
    }
}

.invisible-small-screen {
    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: none;
    }
}

.pet-name {
    @include h4;
    color: $color-dark-l;
    padding: 30px 0;
}

.pagination-list {
    display: flex;
    gap: 20px;
    list-style: none;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        padding-left: 0;
        margin: 10px 0;

    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin: 0 auto;
        gap: 10px;
        padding-left: 0;
    }
}

.pagination-list__item {
    @include h4;
    border-radius: 100px;
    border: 2px solid $color-primary;
    width: 50px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.disabled-pagination {
    border: 2px solid $color-dark-s;

    path {
        fill: $color-dark-s;
    }

}

.center-pagination {
    background-color: $color-primary;
    border-color: $color-primary;
}

.enabled-pagination {
    path {
        fill: $color-dark-3xl;

    }

    &:hover {
        cursor: pointer;
        background-color: $color-primary;
    }

}