@import '../../abstarcts/mixins';
@import '../../abstarcts/variables';
@import '../../base/fonts';
@import '../../base/reset';
@import '../../base/textstyles';
@import '../../components/buttons';
@import '../../layout/footer';
@import '../../layout/header';


//COMMON STYLES

body {
    font-family: 'ArialRegular', sans-serif;
    @include text-regular;
    
}

.wrapper-outer {
    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        
        overflow-x: hidden;
     }
     
}
.wrapper-inner {
    max-width: 1200px;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        max-width: 708px;
        padding-bottom: $padding-vertical-bottom - $base;
        flex-direction: column;

        .first-flex {
            order: 2;
        }

        .second-flex {
            order: 1;
        }

    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        
        max-width: 300px;
        flex-direction: column;

        .first-flex {
            order: 2;
        }

        .second-flex {
            order: 1;
        }

    }

    margin: 0 auto;
    padding-top: $padding-vertical-top;
    padding-bottom: $padding-vertical-bottom;
}

a {
    text-decoration: none;
}

.right-title {
    @include h3;
    color: $color-dark-l;
    margin: 0;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        @include h3-mobile;
        width: 270px;
        text-align: center;
    }

}

.right-paragraph {
    @include paragraph-l;
    color: $color-dark-xl;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        padding-top: 10px;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        text-align: justify;
        margin-bottom: 42px;
    }
}

.left-img {
    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {

        margin-top: 80px;
        margin-left: 120px;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin-top: 150px;
    }
}

.middle-title {
    @include h3;
    color: $color-dark-l;
    margin-bottom: $base * 15;
    text-align: center;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        @include h3-mobile;
        margin-bottom: 42px;
    }
}

// === 1 - START SCREEN ===
.section-introduction {
    background: $bg-color-dark;
   


    .wrapper-inner {
        padding-top: $base * 15;

        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            padding-top: $base * 7.5;
        }

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            padding-top: $base * 7.5;
        }

        padding-bottom: 0;
        display: flex;
        flex-direction: column;

    }

    &::before {
        position: fixed;
        top: 0;
        bottom: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        content: "";
        background-color: rgba(41, 41, 41, 0.6);
    }

    &--active-nav {

        &::before {
            display: block;
        }

        .right-menu {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            background-color: $color-dark-3xl;

            transform: translateX(0%);
            right: 0;
            top: 0;
            padding-top: 30px;

            height: 4000px;

            .nav-wrapper__item+.nav-wrapper__item {
                margin: 0;
            }

            .nav-wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 158px;

                &__item-link {
                    @include paragraph-mobile-menu;
                }
            }
        }

        .header-burger-right-menu {
            display: flex;
            width: 260px;
            justify-content: space-between;
            align-items: center;
        }

        .header-burger {

            .burger {
                display: none;
            }
        }

        .border-active {
            width: 243px;
        }

    }

}

.right-menu {
    display: none;
    position: fixed;
    transform: translateX(100%);
    transition: 1s;
    height: 100vh;
    width: 320px;
    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: flex;    
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;


    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 257px;
    }
}

.header-burger {
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.title {
    @include logo-title;
    color: $color-primary;
    margin: 0 0 10px 0;
}

.subtitle {
    @include logo-subtitle;
    color: $color-light-xl;
}

.nav-wrapper {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        &+& {
            margin-left: $base * 8.5;
        }

        &-link {
            @include paragraph-l;
            color: $color-dark-s;
            text-decoration: none;
            transition: $transition;

            &--active {
                @include paragraph-l;
                color: $color-light-s;
            }


            &:hover {
                cursor: pointer;
                color: $color-light-s;
            }
        }
    }

    @media screen and (max-width:$small-screen-max) {
        display: none;
    }
}

.border-active {
    width: $base * 29;
    height: $base;
    background-color: $color-primary;
}

.burger {

    @media screen and (min-width: $middle-screen-min) {
        display: none;
    }

    &--click {
        transform: rotate(90deg);
        transition: $transition * 2;
    }
}

.wrapper-start-screen {
    display: flex;
    justify-content: space-between;
    margin-top: $base * 15;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.start-screen-content {
    margin-top: $base * 41;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin-top: 0;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin-top: 0;
    }
}

.start-screen-img-item {
    display: block;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        height: 593px;
        width: 569px;
        margin-left: 139px;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 260px;
        margin-left: 40px;
    }

}

.start-screen-title {
    font-family: 'ArialRegular', serif;
    @include text-regular;
    @include h2;
    color: $color-light-xl;
    width: $base * 90;
    height: $base * 28;
    margin: 0;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        @include h3-mobile;
        text-align: center;
        width: 300px;
        height: 64px;
    }
}

.start-screen-text {
    font-family: 'GeorgiaRegular', sans-serif;
    @include text-regular;
    @include paragraph-l;
    color: $color-dark-s;
    width: $base * 115;
    height: $base * 18;
    margin: $base * 10 0;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 300px;
        height: 100px;
        text-align: center;
        margin: 42px auto;
    }

}

.button-primary {
    @include button-primary;
    @include button-primary-hover;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin-left: $base * 31;
        margin-top: $base;
        margin-bottom: $base * 25;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin-left: 46px;
        margin-bottom: 105px;
    }
}



// === 2 - ABOUT ===
.section-about {
    background: $color-light-xl;

    .wrapper-inner {
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            padding: 42px 0;

        }

    }

    img {
        margin-right: $base * 31;

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            margin: 0 auto;
            width: 260px;
        }
    }

    .right-description {
        width: $base * 107;
        height: $base * 95;

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            width: 270px;

        }


    }
}



// === 3 - SLIDER ===
.section-slider {
    background: $color-light-l;

    .wrapper-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            padding-top: 42px;
            padding-bottom: 42px;
        }

    }
}

.button-secondary {
    @include button-secondary;
    @include button-secondary-hover;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: $base * 15;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        flex-direction: column;
        margin-bottom: 42px;
    }
}



.pet-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-light-s;

    border-radius: 9px;
    overflow: hidden;

    padding-bottom: $base * 7;

    &__item {
        &+& {
            margin-left: $base * 22;

            @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
                margin-left: 40px;
            }
        }

        &:hover {
            transition: $transition;
            cursor: pointer;
            background-color: $color-dark-s;

            .button-secondary {
                background-color: $color-primary-light;
                border-color: $color-primary-light;
                transition: $transition;
            }
        }
    }
}

.invisible-middle-screen {
    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        display: none;
    }
}

.invisible-small-screen {
    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: none;
    }
}

.pet-name {
    @include h4;
    color: $color-dark-l;
    padding: 28px 0;
}

.arrow-main-style {
    border: 2px solid $color-primary;
    box-sizing: border-box;
    border-radius: 100px;

    width: 52px;
    height: 52px;

    display: flex;
    align-items: center;
    justify-content: center;


    path {
        fill: $color-dark-3xl;

    }

    &:hover {
        border-color: $color-primary-light;
        background-color: $color-primary-light;
        transition: $transition;
    }
}

.arrow-slider {

    margin: 0 $base * 13;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        margin: 0 12px;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        display: none;
    }
}

.arrow-wrapper-mobile {
    @media screen and (min-width: $middle-screen-min) {
        display: none;
    }

    display: flex;
    width: 184px;
    justify-content: space-between;

    margin-top: 20px;
}

#our-friends-section {
    .button-primary {
        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            margin: 0;
        }

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            margin: 0;
        }
    }
}

// === 4 - HELP ===
.section-help {
    background: $color-light-xl;

    .wrapper-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        padding-bottom: 35px;

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            padding: 42px 0;
        }

    }
}


.help-list-wrapper {
    display: flex;
    width: $base * 259;
    flex-wrap: wrap;

    @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
        width: 630px;
    }

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 260px;
    }
}

.help-icon {
    path {
        fill: $color-primary;
    }

    height: $base * 15;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
    }
}

.help-description {
    @include h4;
    color: $color-dark-l;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        @include h5;
    }
}

.help-list {
    display: flex;
    flex-direction: column;
    align-items: center;



    &__item {
        margin-bottom: $base * 10;

        &+& {
            margin-left: $base * 30;

            @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
                margin-left: $base * 15;
            }

            @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
                margin-left: 30px;
            }
        }

        &:nth-child(6n) {
            margin-left: $base * 24;

            @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
                margin-left: $base * 15;
            }
        }

        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            width: 170px;
            height: 113px;
            margin-bottom: $base * 15;

            &:nth-child(4) {
                margin-left: 0;
            }

            &:nth-child(7) {
                margin-left: 0;
            }
        }

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            width: 130px;
            height: 87px;
            margin-bottom: 30px;

            &:nth-child(1n + 2) {
                margin-left: 0;
            }
        }

    }


}




// === 5 - DONATION ===
.section-donation {
    background: $color-light-l;

    .wrapper-inner {
        display: flex;

        img {
            margin: $base*2.5 $base*7 0 $base*37;

        }

        @media screen and (max-width: $middle-screen-max) and (min-width:$middle-screen-min) {
            align-items: center;

            .left-img {
                margin-left: 0;
                margin-top: 55px;

                img {
                    margin: 0;
                }
            }
        }

        @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
            margin: 0 auto;
            padding: 42px 0;

            .left-img {
                margin: 42px 0 0 20px;

                img {
                    margin: 0;
                    width: 260px;
                }
            }
        }

        .right-description {
            display: flex;
            flex-direction: column;

            @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
                align-items: center;
                justify-content: center;
            }

        }
    }
}

.right-subtitle {
    @include h5;
    color: $color-dark-l;
    margin-top: $base * 5;
    margin-bottom: $base * 4;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        margin: 20px auto;
    }

}

.legal-information {
    font-family: 'GeorgiaRegular', sans-serif;
    @include text-regular;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;

    width: $base * 95;

    margin-top: $base * 5;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 280px;
        text-align: justify;
    }

}

.credit-card-wrapper {
    display: flex;
    align-items: center;
    background-color: $color-primary;
    border-radius: 9px;

    width: $base * 87.5;
    height: $base * 11;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        width: 281px;
        height: 43px;
        margin: 0 auto;
    }

    path {
        fill: $color-dark-3xl;
    }

}

.card-number {
    @include h4;
    padding-left: 15px;

    @media screen and (max-width: $small-screen-max) and (min-width:$small-screen-min) {
        @include h5
    }

    a {
        color: $color-dark-l;
    }
}

.donation-icon {
    padding-left: 15px;
}